* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1,
li,
h2,
h3,
textarea,
button,
input {
    font-family: 'Mulish', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #020e01;
}

header {
    background-color: #020e01;
    color: #fff;
    padding: 14px 0;
}

header nav li {
    display: inline;
    margin: 0 8px;
}

article a,
header nav li a {
    color: #fff;
    text-decoration: none;
}

article a:hover,
header nav li a:hover {
    color: rgb(46, 0, 252);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 0;
    color: #fff;
}

article  {
    align-items: flex-start;
}

article .container {
    margin: 5px 10px;
}

.body {
    background-color: #1e2c1c;
}

.brand-list img {
    height: 30px;
}

.brand-list li {
    display: inline;
}

.rodape {
    margin: 100px 0;
    display: flex;
    background-color: #020e01;
}

form input,
textarea {
    display: block;
    margin: 8px 0;
    padding: 5px;
    resize: none;
}

textarea {
    width: 300px;
    height: 100px;
}

.feedback {
    margin: 0 345px;
}

.color {
    background-color: #020e01;
}

button {
    background-color: #1e2c1c;
    color: #fff;
    height: 30px;
    width: 150px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #65915f;
}

input:focus, textarea:focus {
    outline-color: #1e2c1c;
}