* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-left: 16px;
}

header li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article img {
    width: 100%;
}

.artigos article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.artigos article {
    margin-bottom: 16px;
}

.artigos article {
    margin-top: 8px;
    margin-bottom: 8px;
}

.artigos article a {
    background-color: blue ;
    color: #fff;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-top: 6px;
}

.artigos article a:hover {
    text-decoration: underline;
}

.artigos article p,
.artigos article {
    font-family: Arial, Helvetica, sans-serif;
}

.artigos article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#esportes {
    background-color: #A1FF97;
}

#esportes .artigos article a {
    background-color: #1E9C14;
}

#economia {
    background-color: #F8FFA8;
}

#economia .artigos article a {
    background-color: #b5c205d2;
}

#tec {
    background-color: #526dce;
}

#tec .artigos article a {
    background-color: #2d53dd;
}

#entretenimento {
    background-color: #da6c64;
}

#entretenimento .artigos article a {
    background-color: #DB5950;
}